In [1]:
#### Find HDNG Data and restructure it so that it be useful
### Also combine this with a key between different municipality names

## Import libraries
import pandas as pd
import urllib.request
import os

In [ ]:
## First, download the data and read it into python's memory
url=" https://datasets.iisg.amsterdam/api/access/datafile/10264"
urllib.request.urlretrieve(url, './Data/hdng.txt')

#os.remove("./Data/hdng.txt")

variablenames = []
variableinformation = []

In [3]:
hdng = pd.read_csv("../Data/hdng.txt",  
  dtype={'amco':'Int32', 'naam':str, 'variable':str, 'description':str,'information':str, 'year':'Int32','values':str},
  delimiter = ",", 
  usecols=['amco','name', 'variable', 'description','information','year','value'])

In [24]:
hdng = hdng[(hdng['year'] < 1940) & (~pd.isna(hdng['amco']))]

In [55]:
## Now, clean the data

### Fiscal dataframe
hdng[hdng['description'].str.contains('Belastingen')]

,amco,name,variable,description,information,year,value
190367,10002,ZUIDLAREN,H859BHPB,Belastingen,totaal personele belastingen,1859,2602.0
190368,10004,ZIJPE,H859BHPB,Belastingen,totaal personele belastingen,1859,8874.0
190369,10005,OPSTERLAND,H859BHPB,Belastingen,totaal personele belastingen,1859,14069.0
190370,10006,BAARDWIJK,H859BHPB,Belastingen,totaal personele belastingen,1859,997.0
190371,10007,VAALS,H859BHPB,Belastingen,totaal personele belastingen,1859,2570.0
...,...,...,...,...,...,...,...
2366975,11432,HURWENEN,H934PVAR,Belastingen,"percentage aangeslagenen vermogensbelastingen,...",1934,147.0
2366976,11433,CHAAM,H934PVAR,Belastingen,"percentage aangeslagenen vermogensbelastingen,...",1934,262.0
2366977,11434,'S GRAVENHAGE,H934PVAR,Belastingen,"percentage aangeslagenen vermogensbelastingen,...",1934,130.0
2366978,11435,HAAKSBERGEN,H934PVAR,Belastingen,"percentage aangeslagenen vermogensbelastingen,...",1934,247.0
2366979,11447,CADIER EN KEER,H934PVAR,Belastingen,"percentage aangeslagenen vermogensbelastingen,...",1934,152.0

In [77]:
### Professional composition dataframe
profcomp = hdng[hdng['description'].str.startswith('Beroepsbevolking')]
profcomp[profcomp['information'] == 'totaal']

,amco,name,variable,description,information,year,value
589200,10002,ZUIDLAREN,A889AAX1,Beroepsbevolking aardewerk,totaal,1889,NaN
589201,10004,ZIJPE,A889AAX1,Beroepsbevolking aardewerk,totaal,1889,NaN
589202,10005,OPSTERLAND,A889AAX1,Beroepsbevolking aardewerk,totaal,1889,2.0
589203,10006,BAARDWIJK,A889AAX1,Beroepsbevolking aardewerk,totaal,1889,NaN
589204,10007,VAALS,A889AAX1,Beroepsbevolking aardewerk,totaal,1889,NaN
...,...,...,...,...,...,...,...
2251984,11432,HURWENEN,B930UWEV,Beroepsbevolking voedings- en genotmiddelen,totaal,1930,0.0
2251985,11433,CHAAM,B930UWEV,Beroepsbevolking voedings- en genotmiddelen,totaal,1930,0.0
2251986,11434,'S GRAVENHAGE,B930UWEV,Beroepsbevolking voedings- en genotmiddelen,totaal,1930,1375.0
2251987,11435,HAAKSBERGEN,B930UWEV,Beroepsbevolking voedings- en genotmiddelen,totaal,1930,0.0
2251988,11447,CADIER EN KEER,B930UWEV,Beroepsbevolking voedings- en genotmiddelen,totaal,1930,0.0