In [3]:
#### Find HDNG Data and restructure it so that it be useful
### Also combine this with a key between different municipality names

## Import libraries
import pandas as pd
import urllib.request
import os

In [6]:
## First, download the data and read it into python's memory
url="https://datasets.iisg.amsterdam/api/access/datafile/10264"
urllib.request.urlretrieve(url, '../Data/hdng.txt')

#os.remove("./Data/hdng.txt")

variablenames = []
variableinformation = []

In [7]:
hdng = pd.read_csv("../Data/hdng.txt",  
  dtype={'amco':'Int32', 'naam':str, 'variable':str, 'description':str,'information':str, 'year':'Int32','values':str},
  delimiter = ",", 
  usecols=['amco','name', 'variable', 'description','information','year','value'])

In [8]:
hdng = hdng[(hdng['year'] < 1940) & (~pd.isna(hdng['amco']))]

In [11]:
## Now, clean the data
### Fiscal dataframe, the years for
### 'totaal personele belastingen' are 1859, 1869, 1870, 1879
### we can use this for birthplace and also for district

belastingen = hdng[hdng['description'].str.contains('Belastingen')]

In [54]:
belastingen

,amco,name,variable,description,information,year,value
190367,10002,ZUIDLAREN,H859BHPB,Belastingen,totaal personele belastingen,1859,2602.0
190368,10004,ZIJPE,H859BHPB,Belastingen,totaal personele belastingen,1859,8874.0
190369,10005,OPSTERLAND,H859BHPB,Belastingen,totaal personele belastingen,1859,14069.0
190370,10006,BAARDWIJK,H859BHPB,Belastingen,totaal personele belastingen,1859,997.0
190371,10007,VAALS,H859BHPB,Belastingen,totaal personele belastingen,1859,2570.0
...,...,...,...,...,...,...,...
2366975,11432,HURWENEN,H934PVAR,Belastingen,"percentage aangeslagenen vermogensbelastingen,...",1934,147.0
2366976,11433,CHAAM,H934PVAR,Belastingen,"percentage aangeslagenen vermogensbelastingen,...",1934,262.0
2366977,11434,'S GRAVENHAGE,H934PVAR,Belastingen,"percentage aangeslagenen vermogensbelastingen,...",1934,130.0
2366978,11435,HAAKSBERGEN,H934PVAR,Belastingen,"percentage aangeslagenen vermogensbelastingen,...",1934,247.0
2366979,11447,CADIER EN KEER,H934PVAR,Belastingen,"percentage aangeslagenen vermogensbelastingen,...",1934,152.0

In [10]:
### Professional composition dataframe
profcomp = hdng[hdng['description'].str.startswith('Beroepsbevolking')]
profcomp = profcomp[profcomp['information'] == 'totaal']

In [24]:
### From this categories, divide into industry, 
profcomp[profcomp['year'] == 1889]['description'].unique()

array(['Beroepsbevolking aardewerk', 'Beroepsbevolking drukkersbedrijven',
       'Beroepsbevolking bouwbedrijven',
       'Beroepsbevolking chemische nijverheid',
       'Beroepsbevolking diamantbewerking',
       'Beroepsbevolking houtbewerking',
       'Beroepsbevolking huiselijke diensten',
       'Beroepsbevolking godsdienst',
       'Beroepsbevolking kleding en reiniging',
       'Beroepsbevolking krediet- en bankwezen',
       'Beroepsbevolking kunstnijverheid', 'Beroepsbevolking landbouw',
       'Beroepsbevolking leder', 'Beroepsbevolking losse werklieden',
       'Beroepsbevolking metaalbewerking',
       'Beroepsbevolking mijnen en veenderijen',
       'Beroepsbevolking onderwijs', 'Beroepsbevolking papier',
       'Beroepsbevolking textiel', 'Beroepsbevolking verkeerswezen',
       'Beroepsbevolking visserij en jacht',
       'Beroepsbevolking verlichting',
       'Beroepsbevolking voedings- en genotmiddelen',
       'Beroepsbevolking vrije beroepen',
       'Beroepsbevolking verzekeringswezen', 'Beroepsbevolking handel'],
      dtype=object)